* {
  text-align: center;
  font-family: helvetica;
  color: white;
}

#top {
  background-image:url("img/the-flatiron-building.png");
}

#top h1 {
  font-size: 70px;
  font-weight: bold;
}

#top ul {
  list-style: none;
}

#top li {
  font-size: 18px;
  margin: 15px 0;
}

#main h2, h3, p {
  color: dimgrey;
}

#main p {
  font-size: 14px;
}

#main h2 {
  font-size: 32px;
  font-weight: bold;
}

#ny {
  background-image: url("img/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

#main li {
  color: dimgrey;
  font-size: 14px;
  margin: 15px 0;
  list-style: none;
}

#bottom {
  background-color: dimgrey;
}

#bottom ul {
  display: inline;
  background-color: dimgrey;
}

#copy {
  color: white;
  font-size: 11px;
  display: inline;
  float: left;
}

#bottom li {
  list-style: none;
  float: left;
  margin: 0 5px;
}
